*{
	box-sizing: border-box;
}
.container::after{
	content: "";
	clear: both;
	display: table;
}
.trai{
	width: 20%;
}
.giua{
	width: 50%;
}
.phai{
	width: 30%;
}
.tong{
	float: left;
	padding: 20px;
}
.giua a img{
	width: 100%;
}
.giua .td{
	font-size: 14px;
	font-family: qq;
	font-weight: bold;
	line-height: 20px;
	color: black;
	text-decoration: none;
}
.giua .td:hover{
	color: green;
}
.phai .chuyenmuc{
	width: 100%;
}
.phai .chuyenmuc .nd{
	width: 50%;
	float: left;
}
.phai .chuyenmuc img{
	width: 45%;
}
@font-face{
	src:url(fonts/QwitcherGrypen-Bold.ttf);
	font-family: qq;
}
h1{
	font-family: qq;
}
.phai .chuyenmuc .nd{
	overflow: auto;
	width: 100px;
	height: 100px;
}