*{
	padding: 0;
	margin: 0;
}
.tong{
	width: 360px;
	height: 400px;
	position: relative;
}
.khoivuongnho{
	width: 360px;
	height: 150px;
}
.tong .khoivuongnho .layer1{
	width: 360px;
	height: 150px;
	z-index: 1;
}
.tong .khoivuongnho .layer2{
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	color: white;
	background: #FF9B29;
}
.tong .khoivuongnho .layer3{
	z-index: 3;
	width: 30px;
	height: 30px;
	background: white;
	position: absolute;
	top: 135px;
	left: 10px;
	rotate: 45deg;

}
